body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

header {
  background-color: antiquewhite;
}

nav {
  background-color: lightcyan;
  display: inline-block;
  width: 80%;
}

nav img{
  width: 10%;
}

main {
  background-color: lightpink;
  font-size: 10px;
}

footer {
  background-color: lightyellow;
}

/*li {
  display: list-item;
  width: 10%;
}*/

h1 {
  text-align: center;
  font-family: sans-serif;
  color: green;
}

p {
  line-height: 120%;
}

.grd{
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
}

.grd img{
  width: 100%;
}

.flx{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}