body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  text-align: center;
}

header {
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
}

body a#skip{
  text-decoration: none;
}

body a#skip:hover{
  text-decoration: underline;
  font-size: 300%;
}

nav {
  background-color: lightcyan;
  display: inline-block;
  width: 80%;
}

nav img{
  width: 10%;
}

main {
  background-color: lightpink;
  font-size: 10px;
}

footer {
  background-color: lightyellow;
}

ul{
  align-items: center;
}

li {
  display: inline-flex;
  flex-wrap: wrap;
  width: 15%;
  justify-content: space-between;
  align-items: center;
}

li img {
  border: none;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  color: green;
}

p {
  line-height: 120%;
  font-size: 150%;
  font-weight: 700;
}

.grd{
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
}

.grd img{
  width: 100%;
}

.grd img:nth-child(odd){
  border: 5px solid black;
}

.flx{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.flx img{
  width: 30%;
}

img{
  padding: 10px;
  border: 5px solid red;
  border-radius: 20px;
}